/* body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
} */

/* input colors */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
input[type="date"] {
  border: 2px solid rgb(208, 161, 255);
}
.user_info {
  padding: 30px calc(5%);
}
@media screen and (min-width: 650px) {
  .user_info {
    padding: 30px calc(12% + 20px);
  }
}

.form_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alert-default {
  width: 90%;
}
