/* body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
} */

/* input colors */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
input[type="date"] {
  border: 2px solid rgb(208, 161, 255);
}
.user_info {
  /* width: 75%; */
  padding: 15px;
}
