/* body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
} */

/* input colors */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
input[type="date"] {
  border: 2px solid rgb(208, 161, 255);
}
.user_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px calc(5%); */
}
.inside-content {
  width: 80%;
}
@media screen and (max-width: 750px) {
  .inside-content {
    width: 95%;
  }
}

.form_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
