/* body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
} */

/* input colors */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
input[type="date"] {
  border: 2px solid rgb(208, 161, 255);
}
.user_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px calc(5%); */
}
.login_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px calc(5%); */
}
.inside-content {
  width: 80%;
}
.login-content {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.card-animation {
  transition: box-shadow 0.3s;
}
.card-animation:hover {
  box-shadow: 0 0 20px rgba(60, 0, 98, 0.5);
}

@media screen and (max-width: 750px) {
  .inside-content {
    width: 95%;
  }
  .login-content {
    width: 95%;
  }
}

.form_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
