@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --fros-green-color: #28714e;
  --light-yellow-color: #e6e600;
  --dark-color: #202020;
  --light-gray: #dedede;
  --dark-gray: #a1a1a0;
  --light-color: #fff;
  --poppins-font: "Poppins", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* some resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--poppins-font);
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
.bg-green {
  background-color: var(--fros-green-color);
}
.bg-white {
  background-color: var(--light-color);
}
.text-blue {
  color: var(--fros-green-color);
}
.text-white {
  color: var(--light-color);
}

/* button */
.btn,
button {
  border: none;
  cursor: pointer;
}
.btn {
  padding: 0.9rem 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: var(--light-color);
  font-weight: 500;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.btn-white {
  color: var(--fros-green-color);
}
.btn-light-blue {
  background-color: var(--light-yellow-color);
  color: var(--light-color);
}
.btn-blue {
  background-color: var(--fros-green-color);
  color: var(--light-color);
}
.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-group .btn {
  width: 100%;
}
.btn-group .btn:first-child {
  margin-bottom: 2rem;
}
.btn:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid {
  display: grid;
}
input {
  outline: 0;
}
.lead {
  font-size: 25px;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.3;
}
.text {
  opacity: 0.9;
}
.text-md {
  font-size: 2rem;
}
.text-lg {
  font-size: 2rem;
}
.text-sm {
  font-size: 1.3rem;
}
.py {
  padding: 5.9rem 0;
}
.text-center {
  text-align: center;
}

/* header */
.header {
  min-height: 100vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100px; */
  padding: 10px 25px;
  z-index: 999;
  background-color: #008080;
}
.navbar .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand img {
  width: 168px;
}
.navbar-show-btn,
.navbar-hide-btn {
  background-color: transparent;
  width: 30px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
button[class^="navbar"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1000;
}
/* navbar show class */
.navbar-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navbar-hide-btn {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
}
.nav-item {
  margin: 1.4rem 0;
}
.nav-link {
  opacity: 0.8;
  font-weight: 600;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
.nav-link:hover {
  opacity: 1;
  color: var(--fros-green-color);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.search-icon {
  display: block;
  width: 27px;
  margin-right: 1rem;
}
.search-control::-webkit-input-placeholder {
  color: var(--light-gray);
}
.search-control::-moz-placeholder {
  color: var(--light-gray);
}
.search-control:-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::-ms-input-placeholder {
  color: var(--light-gray);
}
.search-control::placeholder {
  color: var(--light-gray);
}
.search-control {
  height: 27px;
  width: 100%;
  border-radius: 1.9rem;
  border: 2px solid var(--light-gray);
  padding: 0 1.5rem;
}

/* header inner */
.header-inner {
  padding-top: 16rem;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 128, 128)),
      to(rgb(153, 255, 255))
    ),
    url("../images/banner-two-bg.png") top/cover no-repeat;
  background: -o-linear-gradient(rgb(0, 128, 128), rgb(153, 255, 255)),
    url("../images/banner-two-bg.png") top/cover no-repeat;
  background: linear-gradient(rgb(0, 128, 128), rgb(153, 255, 255)),
    url("../images/banner-two-bg.png") top/cover no-repeat;
}
.header-inner-left h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0;
}
.header-inner-left h1 span {
  font-weight: 600;
  text-transform: none;
}
.header-inner-left .lead {
  opacity: 0.9;
}
.header-inner-left .text {
  margin: 5.8rem 0;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.header-inner-left .btn-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-inner-right {
  margin-top: 6rem;
}
.header-inner-right img {
  max-width: 520px;
  margin: 0 auto;
}

/* about section */
.section-head h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}
.border-line {
  height: 0.4rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--light-gray);
  position: relative;
}
.border-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: 102px;
  background-color: var(--fros-green-color);
}
.about-left {
  margin-bottom: 6rem;
}
.about-right {
  margin-top: 16.8rem;
}
.about-left .text {
  margin: 5.6rem 0;
  line-height: 2.3;
}
.about .btn-white {
  color: var(--light-color);
  background-color: var(--light-yellow-color);
}
.about-right .img {
  width: 100%;
  background-color: #79a6d2;
  max-width: 537px;
  position: relative;
}
.about-right .img img {
  padding-top: 10rem;
  -webkit-transform: scaleX(1.03);
  -ms-transform: scaleX(1.03);
  transform: scaleX(1.03);
}
.about-right .img::after,
.about-right .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.about-right .img::after {
  top: -56px;
  left: 0;
  background-color: #006699;
  z-index: -1;
}
.about-right .img::before {
  top: -112px;
  left: 0;

  z-index: -2;
}

/* banner two section */
.banner-two {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(0, 128, 128)),
    to(rgb(153, 255, 255))
  );
  background: -o-linear-gradient(rgb(0, 128, 128), rgb(153, 255, 255));
  background: linear-gradient(rgb(0, 128, 128), rgb(153, 255, 255));
  padding: 13.6rem 0;
}
.banner-two-left img {
  max-width: 620px;
  margin: auto;
}

.banner-two-right .lead {
  font-size: 4rem;
  margin-top: 6rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.banner-two-right .lead1 {
  font-size: 2rem;
  margin-top: 6rem;
  text-transform: uppercase;
  font-weight: bolder;
}

/* banner three section */
.banner-three {
  background-color: #fff;
}
.banner-three-left .lead2 {
  font-size: 2.5rem;
  margin-top: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 128, 128);
}
.banner-three-right img {
  max-width: 620px;
  margin: auto;
}

/* package service */
.package-service-inner {
  margin-top: 14rem;
}
.package-service {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 128, 128)),
      to(rgb(0, 128, 128))
    ),
    url("../images/package-service-img.jpg") center/cover no-repeat;
  background: -o-linear-gradient(rgb(2, 142, 142), rgba(0, 213, 206, 0.95)),
    url("../images/package-service-img.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 213, 202, 0.85), rgb(0, 128, 128)),
    url("../images/package-service-img.jpg") center/cover no-repeat;
}
.package-service-head {
  color: var(--light-color);
}
.package-service-head h2 {
  font-size: 4rem;
}
.package-service-item {
  padding: 3rem 5rem;
  position: relative;
  margin-bottom: 12rem;
}
.package-service-item:last-child {
  margin-bottom: 0;
}
.package-service-item .icon {
  width: 86px;
  height: 86px;
  background-color: var(--light-yellow-color);
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  color: var(--light-color);
  position: absolute;
  top: -43px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.package-service-item .icon svg {
  width: 60px;
  fill: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.package-service-item h3 {
  opacity: 0.7;
  margin: 8rem 0 4rem 0;
  font-size: 2rem;
}
.package-service-item .text-sm {
  color: var(--dark-gray);
}
.package-service-item .btn {
  margin: 4rem 0;
}

/* contact section */
.container {
  max-width: 1170px;
  margin: auto;
  padding: 10.9px 0px;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header .title {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
  line-height: 1.2;
}

.testimonioals {
  padding: 100px 0;
}
.testimonials-item {
  background-color: rgb(2, 142, 142);
  padding: 30px;
  border-radius: 30px;
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: yellow;
  font-size: 20px;
}

.testimonials-item .rating svg {
  fill: gold;
  width: 30px;
}

.testimonials-item p {
  margin-top: 15px;
  font-size: 18px;
  color: #fff;
  margin-bottom: -5rem;
}

.testimonials .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: black;
}

/* footer */
footer {
  margin: auto;
  font-size: 20px;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--dark-color);
  padding-bottom: 50px;
}

.footer > div > h3 {
  margin-bottom: 25px;
}

.footer {
  margin-top: 15px;
  width: 80%;
  padding: 10px 5%;
  color: #efefef;
  display: flex;
  justify-content: space-around;
}

.logo img {
  width: 200px;
  height: 200px;
}

.footer div {
  text-align: center;
}

.column-2-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-2-footer a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  transition: ease 0.5s;
}

.column-2-footer > a:hover {
  color: rgb(0, 128, 128);
}

.footer div h3 {
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--light-yellow-color);
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column-reverse;
  }

  .column-2-footer {
    margin-top: 60px;
  }
}
.social svg {
  height: 60px;
  width: 60px;
  padding: 10px;
  display: flex;
  fill: #fff;
}

/* Media Queries */
@media (min-width: 450px) {
  .navbar-collapse {
    width: 320px;
  }
  .btn-group .btn {
    width: auto;
  }
  .btn-group .btn:first-child {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .border-line {
    width: 405px;
  }
}

@media (min-width: 768px) {
  .header-inner-left h1 {
    font-size: 5.7rem;
  }
  .services-inner,
  .doc-panel-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .doc-panel-inner {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .doc-panel .section-head h2 {
    text-align: left;
  }
  .package-service-inner,
  .posts-inner,
  .footer-inner {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .footer-inner {
    text-align: left;
  }
  .footer-item .icon,
  .footer-item .text {
    margin-left: 0;
  }
  .footer-item .tags-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .header-inner {
    padding-top: 3.2rem;
  }
  .header-inner .container {
    grid-template-columns: 545px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 32px);
    position: relative;
  }
  .header-inner-left {
    text-align: left;
  }
  .header-inner-left .text {
    margin-left: 0;
  }
  .header-inner-left .btn-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header-inner-right img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 10rem;
  }
  .about-inner .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .about-left {
    text-align: left;
    margin-bottom: 0;
  }
  .about-left .section-head h2 {
    text-align: left;
  }
  .border-line {
    margin-left: 0;
  }
  .border-line::after {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .about-right {
    margin-left: auto;
    margin-top: 11.2rem;
  }

  .banner-two .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .banner-two-right {
    text-align: center;
  }

  .banner-two-right .lead {
    margin-top: 0;
  }

  .banner-two-left img {
    width: 100%;
    max-width: 100%;
  }
  .banner-three .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
  .banner-three-left {
    text-align: left;
  }
  .banner-three-left .lead2 {
    margin-top: 0;
  }
  .banner-three-right img {
    width: 100%;
    max-width: 100%;
    padding: 10px 10px;
  }

  .doc-panel-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .doc-panel-item {
    margin-bottom: 0;
  }
  .package-service-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .package-service-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-show-btn,
  .navbar-hide-btn {
    display: none;
  }
  .navbar-collapse {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin: 0;
    margin-left: 3.5rem;
  }
  .nav-link {
    color: var(--light-color);
    opacity: 1;
    font-weight: 500;
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--light-color);
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: var(--light-color);
  }
  .nav-link:hover::after {
    opacity: 1;
    width: 100%;
  }
  .search-bar {
    margin-left: 5.5rem;
  }
  .search-inner-right {
    width: 100%;
  }
  .search-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }
  .search-control {
    width: 150px;
  }
  .header-inner-right {
    width: 100%;
  }
  .header-inner-right img {
    padding-left: 0;
    max-width: 647px;
  }

  .services-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .service-item {
    margin-bottom: 0;
  }
  .doc-panel-inner {
    -webkit-column-gap: 9rem;
    -moz-column-gap: 9rem;
    column-gap: 9rem;
  }
  .posts-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .post-item {
    margin-bottom: 0;
  }

  .contact .container {
    grid-template-columns: auto 514px;
  }
  .footer-inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}

@media (min-width: 1480px) {
  /* general */
  .container {
    max-width: 81vw;
  }
}

/* transition and animation stopper */
.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
